body {
	margin: 20px;
	background-color: #EFEFEF;
}

.gps-logo{
	width: 120px;
	height: 60px;
	background-color: #3E3A39;
	margin: 60px auto 50px auto;
}

.nav-bar{
	width: 80%;
	margin: 0 auto;
	display: table;
	border-top: 1px solid #3E3A39;
	padding: 10px 0;

	li{
		display: table-cell;
		width: 16.6%;
		text-align: center;

		a{
			color: #3E3A39;
			font-size: 14px;
			font-family: Arial;
			text-decoration: none;
			cursor: pointer;

			&:hover,
			&.active{
				font-weight: 600;
				font-size: 16px;
			}
		}
	}

	.dropdown-container{
		position: relative;

		.dropdown-menu.fade.open{
			display: block;
			//transform: translate(-50%, 0);
			min-width: 80px;
			border: none;
    		background-color: transparent;
    		box-shadow: 0 0;
    		left: 50%!important;
    		transform: translate(-50%,0);


			li{
				display: block;
				text-align: center;
				width: auto;
				background-color: rgba(0,0,0,0.5);
    			margin-top: 2px;
    			border-bottom: 1px solid #333333;
				a{
					padding: 0;
					color: #EFEFEF;

					&:hover,
					&:focus,
					&:active{
						background-color: transparent;
					}
				}
			}
		}
	}
}

.content-wrapper{
	width: 80%;
	margin: 0 auto;
	height: 500px;
	border: 1px dashed #999999;
}